@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
 
    --mode-opacity1: 85%;
    --mode-opacity2: 65%;
    --mode-opacity3: 40%;

    --h1: 90px;
    --p: 20px;
    --h2: 48px;

    --subtitle-letter: "Space Grotesk";
    --title-letter: "Sora";
    --p-letter: "Forum";
    --weight1: 100;
    --weight2: 200;
    --weight3: 300;
    --weight4: 400;
    --weight5: 500;
    --weight6: 600;
    --weight7: 700;
    --weight8: 800;

}

body[data-theme="light"] {
    --mode-background: #C9C5C1;
    --mode-letter: #121212;
    --mode-stroke: 2px black;
    --ilustration: url(./assets/nave2.svg);
    --github: url(./assets/github-black.svg);
    --instagram: url(./assets/instagram-black.svg);
    --twitter: url(./assets/twitter-black.svg);
    --mail: url(./assets/mail-black.svg);

}

body[data-theme="dark"] {
    --mode-background: #121212;
    --mode-letter: #ffffff;
    --mode-stroke: 2px white;
    --ilustration: url(./assets/nave.svg);
    --github: url(./assets/github.svg);
    --instagram: url(./assets/instagram.svg);
    --twitter: url(./assets/twitter.svg);
    --mail: url(./assets/mail.svg);

}

.loader-container{
    width: 100%;
    height: 100vh;
    background-color: var(--mode-background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;


}
.txt-loader{
    color: var(--mode-letter);
    font-family: var(--title-letter);
    cursor: pointer;
}


body {
    transition: 200ms;
    margin: 0;
    padding: 0;
    background-color: var(--mode-background);
    margin-inline: 40px;

}

.main {
    transition: 200ms;
    background-color: var(--mode-background);
    width: 100%;
    height: 100vh;
    animation-name: appear;
    animation-duration: 2s;


}

.start {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}


.start h1 {
    font-family: var(--title-letter);
    font-size: var(--h1);
    font-weight: var(--weight7);
    opacity: var(--mode-opacity1);
    color: var(--mode-letter);
    margin: 0;
    transition-duration: 300ms;
    cursor: default;
    width: fit-content;
}

.start h1:hover {
    -webkit-text-stroke: 0;
    color: var(--mode-letter);

}

.nave {
    transition: 400ms;
    width: 380px;
    height: 550px;
    background-image: var(--ilustration);
    cursor: pointer;
}



@media only screen and (max-width: 1132px) {

    .start p {
        font-size: 62px;
    }

    .start h1 {
        width: min-content;
    }
}

@media only screen and (max-width: 950px) {
    .nave {
        display: none;
    }
    .toggle-dark-mode{
        display: flex;
    }

    .start p {
        font-size: var(--h1);
    }
}

@media only screen and (max-width: 752px) {
    .start p {
        font-size: var(--h2);
    }
}

@media only screen and (max-width: 467px) {
    .start p {
        font-size: var(--p);
        -webkit-text-stroke: 1px white;
    }
   .start h1 {
        transform: scale(0.7);
    }}
@media only screen and (max-width: 380px) {
    .start {
        transform: scale(0.8);
    }
}


.ab-me-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ab-me-subtitle h1 {
    margin: 0;
    font-family: var(--title-letter);
    font-size: var(--h2);
    font-weight: var(--weight7);
    color: var(--mode-letter);
    opacity: var(--mode-opacity2);
    margin: 0;
    transition-duration: 300ms;
    cursor: default;
    width: fit-content;
    margin-left: 40px;
}



.ab-me-section h2 {
    margin: 0;
    font-family: var(--subtitle-letter);
    font-weight: var(--weight5);
    font-size: var(--h1);
    color: var(--mode-letter);
    opacity: var(--mode-opacity1);
    margin-bottom: 40px;
    margin-left: 40px;


}

.ab-me-section p {
    margin: 0;
    font-family: var(--p-letter);
    font-weight: var(--weight1);
    font-size: var(--p);
    color: var(--mode-letter);
    opacity: var(--mode-opacity3);
    max-width: 140vh;
    margin-left: 40px;

}

@media only screen and (max-width: 677px) {
    .ab-me-section h2 {
        text-align: left;
    }
    .ab-me-section h1{
        margin: 0;

    }
    .ab-me-section p{
        margin: 0;

    }
    .ab-me-subtitle{
        margin-left: 0px !important;
    }
    .projects-section-subtitle{
        margin: 0 !important;

    }
}

@media only screen and (max-width: 700px) {
    .projects-section h2{
        text-align: right;
        margin: 0  ;
    }
}

.projects-section {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 400px;
    
}

.projects-section-subtitle h1 {
    margin: 0;
    font-family: var(--title-letter);
    font-size: var(--h2);
    font-weight: var(--weight7);
    color: var(--mode-letter);
    opacity: var(--mode-opacity2);
    margin: 0;
    cursor: default;
    width: fit-content;
    
}



.projects-section h2 {
    margin: 0;
    font-family: var(--subtitle-letter);
    font-weight: var(--weight5);
    font-size: var(--h1);
    color: var(--mode-letter);
    opacity: var(--mode-opacity1);
    margin-bottom: 100px;
    margin-right: 40px ;


}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.project {
    margin: 20px;
    margin-block: 100px;
    display: flex;
    flex-direction: row;
}

.project a{
    text-decoration: none;
    cursor:pointer;
    color:var(--mode-letter);
}

.project p {
    font-family: var(--p-letter);
    font-weight: var(--weight1);
    font-size: 18px;
    color: var(--mode-letter);
    opacity: var(--mode-opacity3);
}

@media only screen and (max-width: 677px) {
    .projects-section h2 {
        text-align: right;
        margin: 0;

    }
    .projects-section h1{
        margin: 0;

    }

    .project {
        flex-direction: column;
    }
}
@media only screen and (max-width: 480px) {
    .projects-section h1 {
        transform: scale(0.8);
     }
     .ab-me-section h1{
       
        transform: scale(0.8);

    }
    .projects-section h2 {
        font-size:80px;
        
     }
     .ab-me-section h2{
         font-size:80px;
         margin: 0;


     }

}

@media only screen and (max-width: 833px) {
    .project {
        flex-direction: column !important;
        align-items: center; 
        text-align: center;
    }

    .project p {
        margin-inline: 0 !important;
        text-align: center !important;
       

    }
    .project h1{
        text-align: center !important;

    }
   
}

@media only screen and (max-width: 407px) {
    p{
      transform: scale(0.9);
      text-align: left;

     }
    h1{
    transform: scale(0.8);
    text-align: left;

    }
     h2{
        transform: scale(0.8);
        text-align: left;

    }
    .ab-me-section{
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }
    .ab-me-section h1{
        text-align: left;
    }
    .ab-me-section p{
        text-align: left;
    }
    .projects-section{
        margin-top: 0px;
    }
}

.divider{
    width: 100%;
    margin-top: 180px;
    height: 0.1vh;
    background-color: var(--mode-letter);
    opacity: var(--mode-opacity1);
}

.social-media-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    margin-bottom: 20px;
    margin-inline: 20px;
}

.mail-logo{
    display: flex;
    align-items: center;
}

.social-logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 40px;

}
.social-media-container a{
    width: 35px;
    height: 35px;
}
.social-media-container a:hover{
    transform: translateY(-10px);

}


.instagram{
    
    background-image: var(--instagram);
    transition: 200ms;
    cursor: pointer;
}

.twitter{
  
    background-image: var(--twitter);
    transition: 200ms;
    cursor: pointer;
}
.github{

    background-image: var(--github);
    transition: 200ms;
    cursor: pointer;
}
.social-media-container span{
    font-family: var(--p-letter);
    color: var(--mode-letter);
    text-align: left;

}
.mail{
text-decoration: underline;
   color: var(--mode-letter);
   cursor: pointer;
   transition: 200ms;
    text-align: left;

}

.mail:hover{
    opacity: var(--mode-opacity2);

}

@media only screen and (max-width: 609px) {
    .social-media-container{
        flex-direction: column;
        margin-top: 50px;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 407px) {
    .social-media-container span{
        transform: scale(0.9);
        text-align: left;
        align-items: flex-start;
    }
    .mail-logo{
        align-items: flex-start;
    }
    .instagram,
    .twitter,
    .github{
        transform: scale(0.8);

    }
    .social-media-container{
        margin-left: 0px;
    }
    .social-logos{
        margin-left: 10px;
    }
}